*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*header*/

header{
    padding: 2rem;
    background-color: #212121;
}
ul{
    display: flex;
}

li{
    list-style-type: none;

}

 a{
    text-decoration: none;
    color: white;
    
    padding:0 0.3rem;
}

header ul li:first-child,li:nth-child(6){
    flex-grow: 2;
}

.nav-link{
    color:#97979c;
}

.nav{
    display: flex;
    
}
.active{
    color:white;
    border-bottom: 3px solid #34ffc8;
}



/* Intro*/



.intro{
    min-height: 420px;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.intro-content {
    width: 60%;
    padding: 2rem;
    text-align: center;

}

.intro-content h1{
    font-size: 2rem;
    padding-bottom: 5rem;
}

#avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*Main*/
.main{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.category-tabs{
    padding:3rem;
}
.category-tabs,#blogs{
    margin:0 4rem;
}
.category-tabs ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-tabs li{
    list-style-type: none;
}

.category-tabs a{
    color: #97979c;
    text-decoration:none;
    padding:0 2rem;
}

#blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap:0.5rem;
}

.card {
    margin: 0.3rem;
    background-color: #212121;
    border:0px;
}

.cardText {
    margin-bottom: 2rem;
    color: #97979c;
}

.cardText,
.cardTitle,
.cardCategory,
.cardDate {
    font-size: 0.9rem;
    padding: 0rem 2rem;
    background-color: #212121;
}

.cardTitle {
    font-weight: 700;
    margin: 1rem 0rem 0.2rem 0rem;
    color:white;
}

.cardCategory,.cardDate{
    font-size: 0.7rem;
    color: white;
}

.cardImage{
    max-height: 240px;
    width:100%;
}

.more-button{
    background-color: #34ffc8;
    width: 150px;
    align-self: center;
    margin: 2rem;
    padding: 0.7rem;
    text-align: center;
    border-radius: 20px;
    font-weight: 700;
    
}


/*Subscribe*/

.subscribe{
    display: flex;
    padding: 5rem;
    background-color: #34ffc8;

}

.subscribe h2{
    flex-grow: 2;
}

.subscribe-button{
    background-color: white;
    width: 100px;
    padding: 0.5rem;
    text-align: center;
    border-radius:1rem;
}

/*footer*/

footer{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
   
}
footer h2{
    color: white;
    margin-bottom: 1rem;
}
footer p{
    color:#97979c;
}
footer ul{
    display: flex;
    margin-bottom: 3rem;
}

footer li{
    list-style-type: none;
}


/*For mobile devices */
@media only screen and (max-width: 600px) {

    .social-link,.nav-link{
        display: none;
    }

    #blogs{
        
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap:0.5rem;

    }

    .subscribe{
        flex-direction: column;
        
        align-items: center;
    }

    .subscribe h2{
        margin-bottom: 50px;
}
.category-tabs,#blogs{
    margin:0 1rem;
}

nav{
    position: fixed;
    height: 100%;
    width: 0px;
    background-color: #212121;
    top:0;
    right: 0;
    z-index: 1;
    text-align: center;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6rem;
}

nav ul{
    flex-direction: column;
}
 
nav li{
    margin: 0.5rem 0;
}


.intro-content{
    width: 90%;
}


   
    

 }

 /* For tablets */
 @media only screen and (min-width: 600px) {
     
header ul li:nth-child(2),nav{
    display: none;
}
   
 }
 /* For laptops */
 @media only screen and (min-width: 980px) {
     

    


 }